aiofile
amazon-transcribe
awscrt
boto3
botocore
caio
certifi
cffi
charset-normalizer
colorama
idna
jmespath
mslex
path
psutil
pycparser
pydub
python-dateutil
requests
s3transfer
six
sounddevice
taskipy
tomli
urllib3
websockets
